/* stylelint-disable selector-class-pattern */
.wrapper {
  text-align: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: 12px 20px 20px;
}

.otherArticleLink {
  color: #000;
  text-decoration: none;
}

.topLink {
  color: #828282;
  padding: 8px 0 0;
  text-decoration: none;
}
